<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Ejercicio 4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
<h1>Ejercicio 4</h1>
<br>

<form action="/practico/procesar-pago" method="POST">
    <script
            src="https://www.mercadopago.com.ar/integrations/v1/web-tokenize-checkout.js"
            data-public-key="TEST-fa3df814-5802-4c80-ab20-29e6b71c5178"
            data-transaction-amount="100.00">
    </script>
</form>

</body>
</html>